#about-section {
    margin: -12px 0;
    background-color: var(--color-dark-purple);
    padding: 20px;
    color: #E0E0E0;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90%;
    margin: 0 auto;
}

.title {
    font-size: 40px;
}

.about-me {
    flex: 50%;
    font-size: 20px;
    line-height: 1.6;
}

.circles {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-light-purple);
}

.circle-2 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--color-medium-purple);
    position: absolute;
    right: 0;
    top: 125%;
}

#about-section h2 {
    margin-left: 0;
}

@media (min-width: 200px) and (max-width: 480px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }

    .title {
        width: 100%;
        font-size: 35px;
        text-align: center;
    }

    .about-me {
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
    }

    .circle, .circle-2 {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }

    .title {
        width: 100%;
        font-size: 35px;
        text-align: center;
    }

    .about-me {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .circle, .circle-2 {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .about-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 90%;
        margin: 0 auto;
    }

    .title {
        font-size: 35px;
    }

    .about-me {
        font-size: 20px;
        text-align: left;
        margin-bottom: 20px;
    }

    .circle-2 {
        display: none;
    }
}