header {
    background-color: #FAF7FE;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    font-size: 20px;
}

.nav-links a, .projects-links, .email a, .introduction-work a {
    letter-spacing: 0.5px;
    color: var(--color-dark-purple);
    font-weight: 600;
    position: relative;
    transition: color 1s ease;
    text-decoration: none;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons-container img {
    width: 50px;
    height: 50px;
    vertical-align: middle; 
}

.buttons-container img:hover {
    transform: translateY(-3px);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.nav-links a:hover::after, .email a:hover::after, .introduction-work a:hover::after {
    width: 100%;
    opacity: 1;
}

.nav-links a::after, .email a::after, .introduction-work a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color: var(--color-dark-purple);
    bottom: -4px;
    left: 0;
    z-index: -1;
    transition: width 0.3s ease-in-out;
}

.curriculum-btn {
    background-color: var(--color-primary-purple);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 8px 12px;
}

.curriculum-btn:hover, .social-links a:hover, button:hover {
    background-color: var(--color-medium-purple);
    transform: translateY(-3px);
    transition: all 0.5s ease;
    cursor: pointer;
}

#theme-toggle {
    width: 35px;
    height: 35px;
}

.hamburger {
    display: none;
}

@media (min-width: 200px) and (max-width: 480px) {

    body.no-scroll {
        overflow: hidden; /* Impede o scroll */
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        position: relative;
        height: 60px;
    }
    
    .nav-links a,
    .buttons-container a {
        display: none;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        align-items: center;
    }

    .logo img {
        max-width: 130px;
    }

    #theme-toggle {
        position: absolute;
        right: 20px;
        width: 30px;
        height: 30px;
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%; /* Garante que ocupe toda a tela */
        background-color: var(--color-light-purple);
        transition: left 0.3s ease-in-out;
        z-index: 1000; /* Acima do header */
        padding: 0; /* Remove espaçamento extra */
    }

    .nav-links.show {
        left: 0; /* Faz o menu aparecer */
    }

    .nav-links a {
        display: block;
        padding: 15px;
        text-align: center;
        font-size: 28px;
        border-bottom: none;
        text-decoration: none;
        width: 100%; /* Garante que o link ocupe toda a largura da tela */
    }

    .nav-links a:hover {
        transform: translateY(-3px); /* Move ligeiramente para cima */
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Suaviza apenas a transformação e a cor */
        cursor: pointer; /* Garante o ponteiro de mão */
    }
    .nav-links a::after {
        content: none; /* Remove a linha */
    }

    .hamburger {
        font-size: 30px;
        cursor: pointer;
        display: block;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1100;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        position: relative;
        height: 60px;
    }
    
    .nav-links a,
    .buttons-container a {
        display: none;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        align-items: center;
    }

    .logo img {
        max-width: 130px;
    }

    #theme-toggle {
        position: absolute;
        right: 20px;
        width: 30px;
        height: 30px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%; /* Garante que ocupe toda a tela */
        background-color: var(--color-light-purple);
        transition: left 0.3s ease-in-out;
        z-index: 1000; /* Acima do header */
    }

    .nav-links.show {
        left: 0; /* Faz o menu aparecer */
    }

    .nav-links a {
        display: block;
        padding: 15px;
        text-align: center;
        font-size: 34px;
        border-bottom: none;
        text-decoration: none;
        width: 100%; /* Garante que o link ocupe toda a largura da tela */
    }

    .nav-links a:hover {
        transform: translateY(-3px); /* Move ligeiramente para cima */
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Suaviza apenas a transformação e a cor */
        cursor: pointer; /* Garante o ponteiro de mão */
    }
    .nav-links a::after {
        content: none; /* Remove a linha */
    }

    .hamburger {
        font-size: 30px;
        cursor: pointer;
        display: block;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1100;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        position: relative;
        height: 90px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-links a {
        display: inline-block;
    }

    .buttons-container a {
        display: none;
    }
}
