#introduction-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    margin: 200px auto 0 auto;
}

.introduction-hello {
    font-size: 28px;
    color: var(--color-dark-purple);
    font-weight: 400;
}

.introduction-name {
    font-size: 48px;
    margin-bottom: 10px;
}

.introduction-work {
    font-size: 18px;
    font-weight: 500;
    padding: 2px 12px;
    border-left: 6px solid var(--color-medium-purple);
}

.introduction-icons {
    display: flex;
    gap: 10px;
}

.introduction-icons img {
    width: 45px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.introduction-icons img:hover, .card:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 6px rgba(90, 76, 167, 0.5);  
}

.introduction-logo img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid var(--color-dark-purple);
    transition: all 0.5s ease-in-out;
}

.introduction-logo img:hover {
    transform: scale(1);
    box-shadow: 0 5px 10px rgba(90, 76, 167, 0.5);  
}

@media (min-width: 200px) and (max-width: 480px) {
    #introduction-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        margin: 50px auto;
    }

    .introduction-text {
        text-align: center;
    }

    .introduction-name {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .introduction-hello {
        font-size: 20px;
    }

    .introduction-work {
        margin: 0;
        padding: 5px;
        font-size: 15px;
        border: none;
    }
    
    .introduction-icons {
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    .introduction-icons img {
        width: 35px;
    }

    .introduction-logo img {
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }
}

@media (min-width: 480px) and (max-width: 1200px) {
    #introduction-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 85%;
        margin: 100px auto 0 auto;
    }

    .introduction-text {
        text-align: center;
    }

    .introduction-name {
        font-size: 48px;
        margin-bottom: 10px;
    }

    .introduction-work, .introduction-hello {
        font-size: 24px;
        font-weight: 500;
        padding: 4px 12px;
        margin: 0;
        border: none;
    }

    .introduction-icons {
        justify-content: center;
        gap: 12px;
        margin-top: 20px;
    }

    .introduction-icons img {
        width: 50px;
    }

    .introduction-logo img {
        width: 350px;
        height: 350px;
        margin-top: 20px;
    }
}
