#projects-section {
    margin-top: -10px;
    margin-bottom: -20px;
    background-color: var(--color-medium-purple);
}

.projects-wrapper {
    max-width: 60%;
    margin-left: 190px;
    margin-bottom: 20px;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-projects h3 {
    font-size: 22px;
}

.card p {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

.card video {
    width: 100%;
    border-radius: 8px; 
}

@media (min-width: 200px) and (max-width: 480px) {
    #projects-section {
        margin-top: -10px;
        margin-bottom: -23px;
        background-color: var(--color-medium-purple);
    }

    #projects-section h3, h2, .title, .more-projects a {
        text-align: center;
        margin: 0;
        padding: 0;
        border: none;
    }

    .projects-wrapper {
        max-width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
    }

    .projects-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
    }

    .card-projects {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-projects h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .card p {
        font-size: 12px;
        color: #666;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .card-projects video {
        width: 100%;
        border-radius: 8px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    #projects-section {
        margin-top: -10px;
        margin-bottom: -20px;
        background-color: var(--color-medium-purple);
    }

    #projects-section h3, h2, .title, .more-projects a {
        text-align: center;
        margin: 0;
        padding: 0;
        border: none;
    }

    .projects-wrapper {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .projects-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 15px;
    }

    .card-projects {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-projects h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .card p {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .card-projects video {
        width: 100%;
        border-radius: 8px;
    }
}

@media (min-width: 768px) and (max-width: 1600px) {
    #projects-section {
        margin-top: -10px;
        margin-bottom: -35px;
        background-color: var(--color-medium-purple);
    }

    .projects-wrapper {
        max-width: 75%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .projects-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .card-projects {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-projects h3 {
        font-size: 22px;
    }

    .card p {
        font-size: 14px;
    }

    .card-projects video {
        width: 100%;
        border-radius: 8px;
    }
}
