#skills-section { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.skills-divisao-1 {
    flex: 2;
    margin-bottom: 20px;
}

.sub-title-skills {
    font-size: 28px;
}

.title-skills {
    font-size: 40px;
}

.sub-title-skills, .title-skills {
    color: var(--color-dark-purple);
    margin-bottom: 10px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: linear-gradient(135deg, var(--color-light-purple), var(--background-light));
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    max-width: 50%;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px var(--color-dark-purple);
}

.skills-divisao-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: float 3s ease-in-out infinite;
    text-align: center;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (min-width: 200px) and (max-width: 480px) {
    #skills-section {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .sub-title-skills {
        font-size: 16px;
        border: none;
    }

    .sub-title-skills, .title-skills {
        color: var(--color-dark-purple);
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .skills-cards {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        justify-items: center;
        width: 100%;
    }

    .card {
        padding: 10px;
        font-size: 14px;
        width: 90%;
    }

    .card img {
        max-width: 60%;
        display: block;
        margin: 0 auto;
    }

    .skills-divisao-2 {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    #skills-section {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .sub-title-skills {
        margin: 0;
        border: none;
    }

    .sub-title-skills, .title-skills {
        color: var(--color-dark-purple);
        text-align: center;
        width: 100%;
    }
    
    .skills-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .skills-cards {
        gap: 15px;
        padding: 15px;
        justify-items: center;
    }

    .card {
        padding: 15px;
        font-size: 15px;
        width: 100%;
    }

    .skills-divisao-2 {
        display: none;
    }

    .skills-divisao-1 {
        flex: 1;
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .sub-title-skills {
        font-size: 28px;
    }

    .title-skills {
        font-size: 35px;
    }
}