@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary-purple: #5a4ca7;
    --color-light-purple: #F0EDFD;
    --color-medium-purple: #733BE7;
    --color-dark-purple: #28185C;
    --color-accent-pink: #bb86fc;
    --background-light: #f3f3f3;
    --color-dark-black: #000;
    --color-light-black: #141314;
    --color-grayish-white: #e0e0e0;
}


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light-purple);
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media (min-width: 200px) and (max-width: 480px) {}

@media (min-width: 480px) and (max-width: 768px) {}
    
@media (min-width: 1024px) and (max-width: 1200px) {}

@media (min-width: 1200px) and (max-width: 1600px) {}