h1 {
    color: red;
}

h2 {
    color: black;
}

h3 {
    font-size: 1rem;
}

/* Modos de Media Query: screen, print, speech, all */

/* Screen */
@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

/* Print */
@media print and (max-width: 600px) {
    h1 {
        color: green;
    }
}

/* Todos os modos */
@media (max-width: 700px) {
    h2 {
        color: purple;
    }
}

/* Mobile First */
@media (min-width: 200px) {
    h2 {
        color: teal;
    }
}

/* AND */
@media (min-width: 200px) and (max-width: 500px) {
    h3 {
        font-size: 3rem;
    }
}

/* OR */
@media (min-width: 200px), (max-width: 500px) {
    h3 {
        font-size: 2rem;
    }
}

/* ORIENTATION */
@media (orientation: landscape) {
    h3 {
        font-size: 2rem;
    }
}

@media (orientation: portrait) {
    h3 {
        font-size: 1rem;
    }
}

/* BREAKPOINTS */

/*200px - 480px = Mobile */
/* 480px - 768px  = Tablet */
/* 768px - 1024px = Laptops */
/* 1024px - 1200px = Desktops */
/* 1200px - 1600px = TV's */