.typing {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(30, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#introduction-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    margin: 200px auto;
}

.introduction-hello {
    font-size: 28px;
    color: var(--roxo-escuro);
    font-weight: 400;
    margin: 0;
    animation: typing 2s steps(50, end);
}

.introduction-name {
    font-size: 48px;
    margin-bottom: 10px;
    opacity: 0;
    animation: typing 2.8s forwards, fadeIn 1s forwards;
    animation-delay: 1s;
}

.introduction-work {
    font-size: 18px;
    font-weight: 500;
    border-left: 6px solid var(--roxo-medio);
    padding: 2px 12px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2s;
}

.introduction-icons {
    display: flex;
    gap: 10px;
}

.introduction-icons img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.introduction-icons img:hover, .card:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 6px rgba(90, 76, 167, 0.5);  
}

.introduction-logo img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid var(--roxo-escuro);
    transition: all 0.5s ease-in-out;
}

.introduction-logo img:hover {
    transform: scale(1);
    box-shadow: 0 5px 10px rgba(90, 76, 167, 0.5);  
}