#projects-session {
    margin-top: -0.8%;
    margin-bottom: -1.6%;
    background-color: var(--roxo-medio);
}

.projects-wrapper {
    max-width: 60%;
    margin-left: 190px;
    margin-bottom: 20px;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-projects h3 {
    font-size: 22px;
}

.card p {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

.card video {
    width: 100%;
    border-radius: 8px; 
}
