@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roxo-primario: #5a4ca7;
    --roxo-claro: #F0EDFD;
    --roxo-medio: #733BE7;
    --roxo-escuro: #28185C;
    --fundo-claro: #f3f3f3;
}

* {
    font-family: "Poppins", serif;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--roxo-claro);
    overflow-x: hidden;
}

/* HEADER */
header {
    background-color: #FAF7FE;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a, .projects-links, .email a {
    letter-spacing: 0.5px;
    color: var(--roxo-escuro);
    font-weight: 600;
    position: relative;
    transition: color 0.5s ease;
    text-decoration: none;
}

.nav-links a:hover::after, .email a:hover::after {
    width: 100%;
    opacity: 1;
}

.nav-links a::after, .email a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color: var(--roxo-escuro);
    bottom: -4px;
    left: 0;
    z-index: -1;
    transition: width 0.3s ease-in-out;
}

.curriculum-btn {
    background-color: var(--roxo-primario);
    border: 2px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 8px 12px;
}

.curriculum-btn:hover, .social-links a:hover, button:hover {
    background-color: var(--roxo-medio);
    transform: translateY(-3px);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* INICIO */
.typing {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(30, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#introduction-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    margin: 200px auto;
}

.introduction-hello {
    font-size: 28px;
    color: var(--roxo-escuro);
    font-weight: 400;
    margin: 0;
    animation: typing 2s steps(50, end);
}

.introduction-name {
    font-size: 48px;
    margin-bottom: 10px;
    opacity: 0;
    animation: typing 2.8s forwards, fadeIn 1s forwards;
    animation-delay: 1s;
}

.introduction-work {
    font-size: 18px;
    font-weight: 500;
    border-left: 6px solid var(--roxo-medio);
    padding: 2px 12px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2s;
}

.introduction-icons {
    display: flex;
    gap: 10px;
}

.introduction-icons img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.introduction-icons img:hover, .card:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 6px rgba(90, 76, 167, 0.5);  
}

.introduction-logo img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid var(--roxo-escuro);
    transition: all 0.5s ease-in-out;
}

.introduction-logo img:hover {
    transform: scale(1);
    box-shadow: 0 5px 10px rgba(90, 76, 167, 0.5);  
}

/* SOBRE */


#about-session {
    margin: -12px 0;
    background-color: var(--roxo-medio);
    padding: 20px;
    color: white;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 75%;
    margin: 0 auto;
}

.about-about-me {
    flex: 50%;
    font-size: 18px;
    line-height: 1.6;
}

.about-circles {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--roxo-claro);
}

.circle2 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--roxo-escuro);
    position: absolute;
    right: 0;
    top: 115%;
}

#about-session h2 {
    margin-left: 0; 
}


/* SKILLS */
.sub-title {
    font-weight: 300;
    color: white;
    font-size: 24px; 
    border-left: 5px solid var(--roxo-escuro);
    padding: 2px 12px;
}

.title {
    font-family: "Abril Fatface", serif;
    font-weight: 300;
    color: white;
    font-size: 40px;
    letter-spacing: 1.2px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);    
    text-align: left;
}

.skills-content {
    margin-left: 190px;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
}

#skills-session h3, #skills-session h2 {
    color: var(--roxo-escuro);
}

.skills-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: linear-gradient(135deg, var(--roxo-claro), var(--fundo-claro));
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    transition: transform 1s ease;
}

.card img {
    max-width: 50%;
}

.card:hover {
    transform: scale(1.05);
}

.skills-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divisao2 img {
    width: 80%;
}

.divisao {
    flex: 2;
}

.divisao2 {
    flex: 1;
    display: block;
    justify-content: center;
    align-items: center;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* PROJECTS */
#projects-session {
    margin-top: -0.8%;
    margin-bottom: -1.6%;
    background-color: var(--roxo-medio);
}

.projects-wrapper {
    max-width: 60%;
    margin-left: 190px;
    margin-bottom: 20px;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante espaçamento entre os itens */
}

.card-projects h3 {
    font-size: 22px;
}

.card p {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

.card video {
    width: 100%;
    border-radius: 8px; 
}


/* CONTATO */
#contact-session {
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}

.contact-info {
    width: 45%;
}

.contact-info h3, h2, p {
    margin-bottom: 20px;
}

.contact-info h3 {
    font-weight: 400;
    font-size: 24px;
}

.contact-info h2 {
    font-weight: 700;
    font-size: 42px;
}

.contact-forms {
    width: 45%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

input, textarea, button {
    background-color: var(--roxo-claro);
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
}

input:valid, input:focus, textarea:valid, textarea:focus {
    background-color: #ECE3FE;
    outline: 2px solid var(--roxo-medio);
}

.email a {
    text-decoration: none;
    color: var(--roxo-medio);
    font-weight: 700;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 50px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
  
.copyright {
    margin: 0;
    font-size: 14px;
}

.arrow-footer {
    font-size: 25px;
    margin: -10px 5px;
}
  
.back-to-top a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
  
.contact {
    flex: 1;
    min-width: 300px;
    text-align: left;
}
  
.contact h2 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--roxo-escuro);
}
  
.contact p {
    margin: 0;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.credits {
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}

@media (min-width: 200px) and (max-width: 480px) {

    @keyframes typing {
        from {
            width: 95%;
        }
        to {
            width: 100%;
        }
    }
    
    .container {
        justify-content: center;
    }
    
    .nav-links {
        display: none;
    }

    .curriculum-btn {
        display: none;
    }

    #introduction-session {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .introduction-hello {
        font-size: 18px;
    }

    .introduction-name {
        font-size: 28px;
    }

    .introduction-work {
        font-size: 14px;
    }

    .introduction-icons {
        margin-top: 20px;
        justify-content: center;
    }

    .introduction-logo img {
        margin-top: 20px;
        width: 280px;
        height: 280px;
    }

    .about-container {
        flex-direction: column;
        padding: 20px;
    }

    .circle {
        width: 100px;
        height: 100px;
    }

    .circle2 {
        display: none;
    }

    #contact-session {
        flex-direction: column;
        padding: 20px;
    }

    .contact-info {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-info h3, h2, p {
        font-size: 18px;
    }

    .contact-info h3 {
        font-size: 20px;
    }

    .contact-info h2 {
        font-size: 28px;
    }

    .contact-forms {
        width: 100%;
        margin-top: 20px;
    }
    
    form {
        margin: 20px;
    }

    .footer-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-top {
        flex-direction: column;
        text-align: center;
    }

    .social-links, .contact h2, .contact p {
        flex: 1;
        min-width: 300px;
        text-align: center;
    }

    .social-links a {
        margin: 5px;
        padding: 7px 15px;
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 10px;
        justify-items: center;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    
    .container {
        flex-direction: column;
        justify-content: center;

        align-items: center;
    }
    
    .nav-links {
        display: none;
    }

    .curriculum-btn {
        font-size: 14px;
        padding: 0.5rem 1rem;
    }

    #introduction-session {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .introduction-hello {
        font-size: 22px;
    }

    .introduction-name {
        font-size: 32px;
    }

    .introduction-work {
        font-size: 16px;
    }

    .about-container {
        flex-direction: column;
        padding: 20px;
    }

    .circle2 {
        display: none;
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .skills-cards .card {
        padding: 20px;
        width: 100%;
    }

    #contact-session {
        flex-direction: column;
        padding: 30px 20px;
    }

    .contact-info {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-container {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    .container {
        flex-direction: row;
    }

    .nav-links {
        display: flex;
    }

    .curriculum-btn {
        font-size: 16px;
    }

    #introduction-session {
        flex-direction: row;
        padding: 50px 20px;
    }

    .introduction-hello {
        font-size: 24px;
    }

    .introduction-name {
        font-size: 36px;
    }

    .about-container {
        padding: 40px 20px;
    }

    .circle2 {
        display: none;
    }

    #contact-session {
        padding: 0px 20px;
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .circle2 {
        display: none;
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #contact-session {
        padding: 0px 20px;
    }

    .footer-container {
        padding: 30px 20px;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    
    .container {
        max-width: 1400px;
    }

    .circle2 {
        display: none;
    }

    .footer-container {
        max-width: 1400px;
    }
}