@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roxo-primario: #5a4ca7;
    --roxo-claro: #F0EDFD;
    --roxo-medio: #733BE7;
    --roxo-escuro: #28185C;
    --fundo-claro: #f3f3f3;
}

* {
    font-family: "Poppins", serif;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--roxo-claro);
    overflow-x: hidden;
}

@media (min-width: 200px) and (max-width: 480px) {

    @keyframes typing {
        from {
            width: 95%;
        }
        to {
            width: 100%;
        }
    }
    
    .container {
        justify-content: center;
    }
    
    .nav-links {
        display: none;
    }

    .curriculum-btn {
        display: none;
    }

    #introduction-session {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .introduction-hello {
        font-size: 18px;
    }

    .introduction-name {
        font-size: 28px;
    }

    .introduction-work {
        font-size: 14px;
    }

    .introduction-icons {
        margin-top: 20px;
        justify-content: center;
    }

    .introduction-logo img {
        margin-top: 20px;
        width: 280px;
        height: 280px;
    }

    .about-container {
        flex-direction: column;
        padding: 20px;
    }

    .circle {
        width: 100px;
        height: 100px;
    }

    .circle2 {
        display: none;
    }

    #contact-session {
        flex-direction: column;
        padding: 20px;
    }

    .contact-info {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-info h3, h2, p {
        font-size: 18px;
    }

    .contact-info h3 {
        font-size: 20px;
    }

    .contact-info h2 {
        font-size: 28px;
    }

    .contact-forms {
        width: 100%;
        margin-top: 20px;
    }
    
    form {
        margin: 20px;
    }

    .footer-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-top {
        flex-direction: column;
        text-align: center;
    }

    .social-links, .contact h2, .contact p {
        flex: 1;
        min-width: 300px;
        text-align: center;
    }

    .social-links a {
        margin: 5px;
        padding: 7px 15px;
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 10px;
        justify-items: center;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    
    .container {
        flex-direction: column;
        justify-content: center;

        align-items: center;
    }
    
    .nav-links {
        display: none;
    }

    .curriculum-btn {
        font-size: 14px;
        padding: 0.5rem 1rem;
    }

    #introduction-session {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .introduction-hello {
        font-size: 22px;
    }

    .introduction-name {
        font-size: 32px;
    }

    .introduction-work {
        font-size: 16px;
    }

    .about-container {
        flex-direction: column;
        padding: 20px;
    }

    .circle2 {
        display: none;
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .skills-cards .card {
        padding: 20px;
        width: 100%;
    }

    #contact-session {
        flex-direction: column;
        padding: 30px 20px;
    }

    .contact-info {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-container {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    .container {
        flex-direction: row;
    }

    .nav-links {
        display: flex;
    }

    .curriculum-btn {
        font-size: 16px;
    }

    #introduction-session {
        flex-direction: row;
        padding: 50px 20px;
    }

    .introduction-hello {
        font-size: 24px;
    }

    .introduction-name {
        font-size: 36px;
    }

    .about-container {
        padding: 40px 20px;
    }

    .circle2 {
        display: none;
    }

    #contact-session {
        padding: 0px 20px;
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .circle2 {
        display: none;
    }

    .skills-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #contact-session {
        padding: 0px 20px;
    }

    .footer-container {
        padding: 30px 20px;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    
    .container {
        max-width: 1400px;
    }

    .circle2 {
        display: none;
    }

    .footer-container {
        max-width: 1400px;
    }
}